---
layout: default
---

<div class="home">

	<section class="site section site-section-introduction">

	</section>

	<!-- featured post -->
	<section class="site-section site-section-last">

		<div class="wrapper">
			<h1>about me</h1>
			<img class="underline" src="assets/line.svg" width="100" alt="">
			<img class="profilepic" src="assets/profiel@2x.png" height="145" width="147" alt="">

			<p>

				Hello, my name is <span>Gregory</span>. I'm a 23 year old web enthousiast living in Belgium.</br>
				I develop web applications from the ground up. I'm a <span>front end developer</span></br>
				and <span>graphic designer</span>. I also love to make <span>motion graphics</span>.

			</p>

		</div>

	</section>

	<!-- featured projects -->

	<section class="site-section">

		<h1>latest projects</h1>
		<img class="underline" src="assets/line.svg" width="100" alt="">

		<ul class="project-list">

			{% for project in site.categories['project'] reversed | limit:3  %}

				{% include project.html %}

			{% endfor %}

		</ul>

	</section>

	<section class="site-section">

		<h1>my skills</h1>
		<img class="underline" src="assets/line.svg" width="100" alt="">

	</section>

	<!-- latest articles -->

	<section class="site-section site-section-last">

		<div class="wrapper">
			<h1>featured articles</h1>
			<img class="underline" src="assets/line.svg" width="100" alt="">

			<ul class="post-list">
				{% for post in site.categories['blog'] reversed | limit:2  %}
				<li class="post">

					{% include post.html %}

				</li>
				{% endfor %}
			</ul>
		</div>

	</section>

</div>
