// Our variables
$base-font-size:   1em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;
$on-palm:          600px;
$on-laptop:        800px;



// colors

$text-color: #323333;
$yellow: #FEDD00;
$white: #fff;

